.contacto-tittle {
  text-align: center;
  font-size: 40px;
  margin: 30px; }

.form-contact {
  background-color: #f6f6f6; }

.destinos-tittle {
  text-align: center; }

.card-group {
  background-color: #f6f6f6; }

.card-group .card {
  margin: 10px; }

.card {
  transition: 2s all; }

.about-aside h1 {
  text-align: center;
  color: #00008B; }

.about-us {
  background-color: #f6f6f6;
  line-height: 30px;
  font-size: 20px; }

.card-about {
  background-color: #f6f6f6;
  margin-top: 20px; }

.faq-tittle {
  text-align: center;
  margin: 10px; }

.faq-container {
  background-color: #f6f6f6; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: 'Courier New', Courier, monospace; }

header .navs :hover, header li :hover {
  font-size: 20px;
  text-decoration: underline; }

header .nav-destination {
  color: tomato !important; }

header .nav-about {
  color: orange !important; }

header .nav-faqs {
  color: red !important; }

header .nav-contact {
  color: #a80505 !important; }

main .h5 {
  font-size: 35px;
  text-decoration: underline;
  font-weight: 600; }

main .paquetes {
  background-color: #f6f6f6; }
  main .paquetes h1 {
    text-align: center;
    margin-top: 20px; }
  main .paquetes .card:hover {
    font-weight: bold; }
  main .paquetes .card-title {
    font-size: 30px; }

.footer .a-footer, .footer li a {
  font-size: 15px;
  text-decoration: underline;
  font-weight: 600;
  color: #00008B !important; }

.footer li :hover {
  font-size: 20px; }
