@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");
.contacto-tittle {
  text-align: center;
  font-size: 40px;
  margin: 30px; }

.form-contact {
  background-color: #f6f6f6; }

.contact-text {
  width: 100%;
  height: 30vh; }

.row-contact {
  margin-bottom: 20px; }

.form-container-btn {
  margin: auto;
  width: 50%;
  padding: 5px; }

.form-btn {
  width: 100%; }

.destination-tittle {
  margin-top: 4px; }

.card-container {
  margin: auto; }

.card {
  border: 1px solid lightgray !important;
  border-radius: 10px; }

.card-body {
  border-bottom: 1px solid lightgray; }
  .card-body h5 {
    border-bottom: 1px solid lightgray; }
  .card-body p {
    font-size: 15px; }

.card-bottom {
  justify-content: space-between; }
  .card-bottom span {
    color: lightslategray;
    line-height: 5px;
    margin-left: 4px; }
  .card-bottom p {
    width: 30%;
    color: black !important;
    margin: 0%;
    margin-left: 15px;
    font-weight: 600;
    font-size: 30px; }
  .card-bottom button {
    width: 20% !important;
    margin-right: 5px;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px; }
  .card-bottom .container-price {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0%;
    font-style: italic;
    font-weight: 300; }

.card-footer {
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  color: #FFFFFF;
  border-radius: 10px; }
  .card-footer p {
    margin: 0; }

@media only screen and (max-width: 767px) {
  nav .pagination {
    justify-content: center !important; }
  .card-body h5 {
    text-align: center; }
  .card-bottom .container-price {
    width: 60% !important;
    font-size: 20px !important; }
    .card-bottom .container-price p {
      width: 100%;
      font-size: 20px; }
  .card-bottom button {
    width: 40% !important;
    margin: auto; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav .pagination {
    justify-content: center !important; }
  .card-body h5 {
    text-align: center; }
  .card-bottom .container-price {
    width: 60% !important;
    font-size: 20px !important;
    background-color: red; }
    .card-bottom .container-price p {
      width: 100%;
      font-size: 20px; }
  .card-bottom button {
    width: 40% !important;
    margin: auto; } }

.about-aside {
  height: 100%;
  margin: 20px; }
  .about-aside h1 {
    text-align: center;
    color: #00008B; }

.about-us {
  background-color: #f6f6f6;
  line-height: 30px;
  font-size: 20px;
  height: 100%; }

.card-about {
  background-color: #f6f6f6;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 25px; }

.img-about {
  border: 1px solid black;
  border-radius: 25px; }

.img-h {
  height: 80%; }

.about-1 {
  font-size: 30px;
  font-weight: 100; }

.mision {
  margin: auto; }

.about-p {
  text-align: center;
  font-size: 30px;
  line-height: 50px; }

@media only screen and (max-width: 767px) {
  section .container p {
    font-size: 20px;
    text-align: center; }
  section .mision p {
    text-align: center;
    font-size: 20px !important;
    line-height: 30px; }
  section img {
    height: 100%; }
  section .col-4 p {
    font-size: 20px;
    text-align: center; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  section .container p {
    font-size: 20px;
    text-align: center; }
  section .mision p {
    text-align: center;
    font-size: 20px !important;
    line-height: 30px; }
  section img {
    height: 100%; }
  section .col-4 p {
    font-size: 20px;
    text-align: center; } }

.faq-tittle {
  text-align: center;
  margin: 10px; }

.accordion-item {
  margin: 30px; }

.accordion-body {
  background-color: lightgrey !important; }

.accordion-button {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: #fff;
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px; }

.accordion-button:not(.collapsed) {
  color: #fff; }

.social {
  position: fixed;
  top: 100px;
  right: 0;
  width: 50px;
  border: 3px solid #73AD21;
  z-index: 1;
  margin-right: 5px; }

header .navbar {
  width: 100%;
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 20vh; }

header .img-logo {
  border-radius: 60px; }

header .navbar-nav {
  justify-content: space-evenly;
  width: 100%; }

header .navbar-logo {
  border-radius: 50%; }

header .navs :hover, header li :hover {
  font-weight: 700; }

header .nav-destination {
  color: #f6f6f6 !important; }

header .nav-about {
  color: #f6f6f6 !important; }

header .nav-faqs {
  color: #f6f6f6 !important; }

header .nav-contact {
  color: #f6f6f6 !important; }

@media only screen and (max-width: 767px) {
  header .navbar {
    height: auto; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .navbar {
    height: auto; } }

footer {
  display: block;
  width: 100%;
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff; }

.footer-bloque-1 {
  display: flex;
  width: 90vw;
  margin: auto;
  justify-content: space-between; }

footer h1 {
  margin: 10px; }

.footer-container-1 {
  width: 25vw; }

.footer-container-2 {
  width: 25vw;
  text-align: center; }

.footer-container-2 a:hover {
  font-weight: 700; }

.footer-container-3 {
  display: flex;
  width: 25vw; }

.footer-container-3 ul {
  align-items: flex-end;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around; }

.footer-container-3 .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  transition: 1s; }

.footer-container-3 .fab:hover {
  transform: scale(1, 1.1);
  background-color: lightblue; }

.footer-list {
  list-style: none; }

.footer-item a {
  text-decoration: none;
  color: #ffff; }

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto; }

.footer-bloque-2 {
  text-align: center; }

@media only screen and (max-width: 767px) {
  footer .footer-bloque-1 {
    margin: 0;
    margin-left: 5px; }
  footer .footer-container-1 {
    margin: auto;
    margin-left: 5px; }
    footer .footer-container-1 h1 {
      font-size: 20px !important; }
  footer .footer-container-3 ul {
    padding: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  footer .footer-bloque-1 {
    margin: 0;
    margin-left: 5px; }
  footer .footer-container-1 {
    margin: auto;
    margin-left: 5px; }
    footer .footer-container-1 h1 {
      font-size: 20px !important; }
  footer .footer-container-3 ul {
    padding: 0; } }

* {
  margin: 0;
  padding: 0; }
  * h1 {
    font-size: 50px;
    font-family: "Poppins", sans-serif; }
  * h2 {
    font-size: 50px;
    font-family: "Poppins", sans-serif; }
  * h3 {
    font-size: 40px;
    font-family: "Poppins", sans-serif; }
  * h3 {
    font-size: 16px;
    font-family: "Poppins", sans-serif; }
  * p {
    font-size: 15px;
    font-family: "Poppins", sans-serif; }
  * a {
    font-size: 20px; }
  * button {
    font-family: "Poppins", sans-serif; }

body {
  /*background: #1c92d2; 
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  
    background: linear-gradient(to right, #f2fcfe, #1c92d2); */
  font-family: "Roboto", sans-serif; }
  body h1 {
    font-size: 50px;
    text-align: center; }
  body h2 {
    font-size: 50px; }
  body h3 {
    font-size: 40px; }
  body p {
    font-size: 15px; }
  body a {
    font-size: 20px; }

main .h5 {
  font-size: 35px;
  text-decoration: underline;
  font-weight: 600; }

main .paquetes {
  background: #ECEFF1;
  /*background: #1c92d2; 
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  
    background: linear-gradient(to right, #f2fcfe, #1c92d2); */ }
  main .paquetes h1 {
    text-align: center;
    margin-top: 20px; }
  main .paquetes .card:hover {
    font-weight: bold; }
  main .paquetes .card-title {
    font-size: 30px; }

main .container-bloque {
  height: 20vh;
  width: 100%;
  background-color: #ECEFF1; }

main .btn-primary {
  width: 100%;
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  margin: auto; }

main .hr-index {
  height: 5px;
  width: 90%;
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

main .container-paquetes {
  display: flex;
  flex-direction: row;
  align-items: center; }

main .card {
  border: none; }

main .card-vuelo {
  border-radius: 25px; }

main .card-border {
  border-radius: 25px; }

main .img-border {
  border: 2px solid white;
  border-radius: 25px;
  padding: 0; }

@media only screen and (max-width: 767px) {
  body h1 {
    font-size: 30px !important; }
  .index-carousel {
    width: 100%; }
  .index-form {
    margin-top: 10px;
    width: 100%; }
  .card-border {
    margin: auto; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body h1 {
    font-size: 30px !important; }
  .index-carousel {
    width: 100%; }
  .index-form {
    margin-top: 10px;
    width: 100%; }
  .card-border {
    margin: auto; } }
