.contacto-tittle {
  text-align: center;
  font-size: 40px;
  margin: 30px; }

.form-contact {
  background-color: #f6f6f6; }

.contact-text {
  width: 35vw;
  height: 30vh; }

.destinos-tittle {
  text-align: center; }

.card-group {
  background-color: #f6f6f6; }

.card-group .card {
  margin: 10px; }

.card {
  transition: 2s all; }

.about-aside {
  border: 1px solid lightgray;
  height: 100%;
  margin: 20px; }
  .about-aside h1 {
    text-align: center;
    color: #00008B; }

.about-us {
  background-color: #f6f6f6;
  line-height: 30px;
  font-size: 20px; }

.card-about {
  background-color: #f6f6f6;
  margin-top: 20px; }

.faq-tittle {
  text-align: center;
  margin: 10px; }

.faq-container {
  background-color: #f6f6f6; }

.social {
  position: fixed;
  top: 100px;
  right: 0;
  width: 50px;
  border: 3px solid #73AD21;
  z-index: 1;
  margin-right: 5px; }

header .navbar {
  width: 100%;
  background: linear-gradient(to right, #00093c, #2b0b00);
  color: #fff;
  height: 20vh; }

header .navbar-nav {
  justify-content: space-evenly;
  width: 100%; }

header .navbar-logo {
  border-radius: 50%; }

header .navs :hover, header li :hover {
  font-weight: 700; }

header .nav-destination {
  color: #f6f6f6 !important; }

header .nav-about {
  color: #f6f6f6 !important; }

header .nav-faqs {
  color: #f6f6f6 !important; }

header .nav-contact {
  color: #f6f6f6 !important; }

footer {
  display: block;
  width: 100%;
  background: linear-gradient(to right, #00093c, #2b0b00);
  color: #fff; }

.footer-bloque-1 {
  display: flex;
  width: 90vw;
  margin: auto;
  justify-content: space-between; }

footer h1 {
  margin: 10px; }

.footer-container-1 {
  width: 25vw; }

.footer-container-2 {
  width: 25vw;
  text-align: center; }

.footer-container-2 a:hover {
  font-weight: 700; }

.footer-container-3 {
  display: flex;
  width: 25vw; }

.footer-container-3 ul {
  align-items: flex-end;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around; }

.footer-container-3 .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  transition: 1s; }

.footer-container-3 .fab:hover {
  transform: scale(1, 1.1);
  background-color: lightblue; }

.footer-list {
  list-style: none; }

.footer-item a {
  text-decoration: none;
  color: #ffff; }

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto; }

.footer-bloque-2 {
  text-align: center; }

/*.footer {
        background-color: blue;
        

    // clase que utilizo para extends
    .a-footer {
        font-size: 15px;
        text-decoration: underline;
        font-weight: 600;
        color: $blancoFondo !important;
    }
    li {
        a {
        @extend .a-footer;
        
        } 
        & :hover {
        font-size: 20px;
        }
    }

    .copyright {
        color: $blancoFondo !important;
    }
}*/
* {
  margin: 0;
  padding: 0; }
  * h1 {
    font-size: 50px; }
  * h2 {
    font-size: 50px; }
  * h3 {
    font-size: 40px; }
  * p {
    font-size: 15px; }
  * a {
    font-size: 20px; }

body {
  background-color: #fff;
  font-family: 'Courier New', Courier, monospace; }

main .h5 {
  font-size: 35px;
  text-decoration: underline;
  font-weight: 600; }

main .paquetes {
  background-color: #f6f6f6; }
  main .paquetes h1 {
    text-align: center;
    margin-top: 20px; }
  main .paquetes .card:hover {
    font-weight: bold; }
  main .paquetes .card-title {
    font-size: 30px; }
