@import "_colors";

.about-aside {
    height: 100%;
    margin: 20px;

    h1 {
        text-align: center;
        color: $azulOscuro;
    }
}

.about-us {
    background-color: $blancoEtiquetas;
    line-height: 30px;
    font-size: 20px;
    height: 100%;
}

.card-about {
    background-color: $blancoEtiquetas;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 25px;

}

.img-about {
    border: 1px solid black;
    border-radius: 25px;
    
}