@import "_colors";

.about-aside {

    border: 1px solid lightgray;
    height: 100%;
    margin: 20px;

    h1 {
        text-align: center;
        color: $azulOscuro;
    }
}

.about-us {
    background-color: $blancoEtiquetas;
    line-height: 30px;
    font-size: 20px;
}

.card-about {
    background-color: $blancoEtiquetas;
    margin-top: 20px;
}
