@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

$font-1: 'Shadows Into Light', cursive;
$font-2: 'Roboto', sans-serif;
$font-3: 'Poppins', sans-serif;
$h1-size: 60px;
$h2-size: 50px;
$h3-size: 16px;
$h5-size: 16px;
$p-size: 20px;
$a-size: 40px;

$blancoFondo: #fff;
$blancoEtiquetas: #f6f6f6;
$azulOscuro: #00008B;
$gradienteAzul: linear-gradient(to right, #00093c, #2b0b00);


// sizes

$h1-size: 50px;
$h2-size: 50px;
$h3-size: 40px;
$p-size: 15px;
$a-size: 20px;


