.contacto-tittle {
    text-align: center;
    font-size: 40px;
    margin: 30px;
}

.form-contact {
    background-color: $blancoEtiquetas;
}

.contact-text {
    width: 100%;
    height: 30vh;
}

.row-contact {
    margin-bottom: 20px;
}

.form-container-btn {
    margin: auto;
    width: 50%;
    padding: 5px;
}

.form-btn {
    width: 100%;
}