.destinos-tittle {
    text-align: center;
}

.card-group {
    background-color: $blancoEtiquetas;
}

.card-group .card {
    margin: 10px;
}

.card {
    transition: 2s all;
}

.card-body {
    text-align: center;
}

.card-body h5 {
    
    color: green;

}

.card-date {
    font-size: 35px;
}

.card-price {
    font-size: 30px;
}

.card-other {
    font-size: 20px;
}


