.card-container {
    margin: auto;
}

.card {
    border: 1px solid lightgray !important;
    border-radius: 10px;
}


.card-body {
    border-bottom: 1px solid lightgray;

    h5 {
        border-bottom: 1px solid lightgray;
    }
    
    p {
        font-size: 15px;
    }
}

.card-bottom {
    justify-content: space-between;

    p {
        width: 30%;
        color: blue !important;
        margin: 0;
    }

    button {
        width: 20% !important;
        margin-right: 5px;
    }
}

.card-footer {
    background-color: red;
    margin: 0;

    p {
        margin: 0;
    }
}