footer {
  display: block;
  width: 100%;
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;

}

.footer-bloque-1 {
  display: flex;
  width: 90vw;
  margin: auto;
  justify-content: space-between;

}

footer h1 {
  margin: 10px;
}

.footer-container-1 {
  width: 25vw;
}


.footer-container-2 {
  width: 25vw;
  text-align: center;

}

.footer-container-2 a:hover {
  font-weight: 700;


}

.footer-container-3 {
  display: flex;
  width: 25vw;

}

.footer-container-3 ul {
  align-items: flex-end;
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.footer-container-3 .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  transition: 1s;
}

.footer-container-3 .fab:hover {
  transform: scale(1, 1.1);
  background-color: lightblue;
}

.footer-list {
  list-style: none;
}

.footer-item a {

  text-decoration: none;
  color: #ffff;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.footer-bloque-2 {
  text-align: center;
}




@media only screen and (max-width: 767px) {
  footer {

    h1 {
      font-size: 20px !important;
    }

    .footer-container-1 {
      margin: auto;
      margin-left: 5px;
    }

    .footer-container-3 {
      ul {
        padding: 0;
      }
    }

  }
}

// media query tablet

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  footer {

    h1 {
      font-size: 20px !important;
    }

    .footer-container-1 {
      margin: auto;
      margin-left: 5px;
    }

    .footer-container-3 {
      ul {
        padding: 0;
      }
    }

  }

}