
@import "_colors";

header {

    .navs {
        & :hover {
        font-size: 20px;
        text-decoration: underline;
        }
    }



    li {
        @extend .navs
    }
    
    
    
     $navs: ( // aqui creo el maps
        destination: tomato,
        about: orange,
        faqs: red,
        contact: rgb(168, 5, 5),
    );
    
    @each $nav, $size in $navs {
        .nav-#{$nav} {
            color: $size !important;
            
        }
    }
}