
@import "_colors";

header {
    .navbar {
        width: 100%;
        background: $gradienteAzul;
        color: #fff;
        height: 20vh;
    }

    .navbar-nav {
        justify-content: space-evenly;
        width: 100%;
    }

    .navbar-logo {
        border-radius: 50%;
    }


    .nav-container {
        background-color: $azulOscuro !important;
    }

    .navs {
        
        & :hover {
        font-weight: 700;
        }
    }



    li {
        @extend .navs
    }
    
    
    
     $navs: ( // aqui creo el maps
        destination: $blancoEtiquetas,
        about: $blancoEtiquetas,
        faqs: $blancoEtiquetas,
        contact: $blancoEtiquetas,
    );
    
    @each $nav, $size in $navs {
        .nav-#{$nav} {
            color: $size !important;
            
        }
    }
}