@import "_colors";
@import "contact";
@import "destination";
@import "about";
@import "faq";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $blancoFondo;
    font-family: 'Courier New', Courier, monospace;
}



.paquetes {
    background-color: $blancoEtiquetas;

    h1 {
        text-align: center;
        margin-top: 20px;
        
    }
    .card {
        &:hover {
            font-weight: bold;
        }
    }
    .card-title {
        font-size: 30px;
    }
}