@import "_colors";
@import "contact";
@import "destination";
@import "about";
@import "faq";
@import "_aside";
@import "_nav";
@import "_footer";

* {
    margin: 0;
    padding: 0;

    h1 {
        font-size: $h1-size;
    }

    h2 {
        font-size: $h2-size;
    }

    h3 {
        font-size: $h3-size;
    }

    p {
        font-size: $p-size;
    }

    a {
        font-size: $a-size ;
    }
}

body {
    background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: $font-2;

    h1 {
        font-size: $h1-size;
    }

    h2 {
        font-size: $h2-size;
    }
    
    h3 {
        font-size: $h3-size;
    }

    p {
        font-size: $p-size;
    }

    a {
        font-size: $a-size;
    }

}


// main

main {
    // mixins

    @mixin set ($size, $decoration, $weight){
        font-size: $size;
        text-decoration: $decoration;
        font-weight: $weight;
    }

    .h5 {
        @include set (35px, underline, 600)
    }

    
.paquetes {
    background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    h1 {
        text-align: center;
        margin-top: 20px;
        
    }
    .card {
        &:hover {
            font-weight: bold;
        }
    }
    .card-title {
        font-size: 30px;
    }
}

.container-bloque {
    height: 20vh;
    width: 100%;
    background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

}

