@import "_colors";
@import "contact";
@import "destination";
@import "about";
@import "faq";
@import "_aside";
@import "_nav";
@import "_footer";

* {
    margin: 0;
    padding: 0;

    h1 {
        font-size: $h1-size;
        font-family: $font-3;
    }

    h2 {
        font-size: $h2-size;
        font-family: $font-3;
    }

    h3 {
        font-size: $h3-size;
        font-family: $font-3;
    }

    h3 {
        font-size: $h5-size;
        font-family: $font-3;
    }

    p {
        font-size: $p-size;
        font-family: $font-3;
    }

    a {
        font-size: $a-size;
    }

    button {
        font-family: $font-3;

    }
}

body {

    /*background: #1c92d2; 
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  
    background: linear-gradient(to right, #f2fcfe, #1c92d2); */
    font-family: $font-2;

    h1 {
        font-size: $h1-size;
        text-align: center;
    }

    h2 {
        font-size: $h2-size;
    }

    h3 {
        font-size: $h3-size;
    }

    p {
        font-size: $p-size;
    }

    a {
        font-size: $a-size;
    }

}


// main

main {
    // mixins

    @mixin set ($size, $decoration, $weight) {
        font-size: $size;
        text-decoration: $decoration;
        font-weight: $weight;
    }

    .h5 {
        @include set (35px, underline, 600)
    }


    .paquetes {
        background: #ECEFF1;
        /*background: #1c92d2; 
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  
    background: linear-gradient(to right, #f2fcfe, #1c92d2); */


        h1 {
            text-align: center;
            margin-top: 20px;

        }

        .card {
            &:hover {
                font-weight: bold;
            }
        }

        .card-title {
            font-size: 30px;
        }


    }

    .container-bloque {
        height: 20vh;
        width: 100%;
        background-color: #ECEFF1
            /*background: #1c92d2;  /* fallback for old browsers 
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    */
    }

    .btn-primary {
        width: 100%;
        background: #000428;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 10px;
        margin: auto;
    }

    .hr-index {
        height: 5px;
        width: 90%;
        background: #000428;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .container-paquetes {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .card {
        border: none;
    }

    .card-vuelo {
        //    border: 1px solid black;
        border-radius: 25px;
    }

    .card-border {
        // border: 1px solid black;
        border-radius: 25px;

    }

    .img-border {
        border: 2px solid white;
        border-radius: 25px;
        padding: 0;
    }
}